.panel {
    width: 80%;
    border: 1px solid #ccc;
    background: #4d4d4d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

.bggradiente {
    background: linear-gradient(90deg, rgba(18,18,19,1) 0%, rgba(23,23,24,1) 35%, rgba(33,35,36,1) 100%);
}
